@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.active-scroll-spy {
  color: #4EDD52;
}

.text-shadow {
  text-shadow: rgb(2, 27, 10) 12px 0px 0px, rgb(2, 27, 10) 11.9584px 0.998843px 0px, rgb(2, 27, 10) 11.8337px 1.99075px 0px, rgb(2, 27, 10) 11.6269px 2.96885px 0px, rgb(2, 27, 10) 11.3395px 3.92634px 0px, rgb(2, 27, 10) 10.9733px 4.85657px 0px, rgb(2, 27, 10) 10.531px 5.75311px 0px, rgb(2, 27, 10) 10.0156px 6.60971px 0px, rgb(2, 27, 10) 9.43065px 7.42044px 0px, rgb(2, 27, 10) 8.78027px 8.17967px 0px, rgb(2, 27, 10) 8.06895px 8.88212px 0px, rgb(2, 27, 10) 7.30163px 9.52293px 0px, rgb(2, 27, 10) 6.48363px 10.0977px 0px, rgb(2, 27, 10) 5.62063px 10.6023px 0px, rgb(2, 27, 10) 4.71862px 11.0333px 0px, rgb(2, 27, 10) 3.78387px 11.3878px 0px, rgb(2, 27, 10) 2.82285px 11.6633px 0px, rgb(2, 27, 10) 1.84224px 11.8577px 0px, rgb(2, 27, 10) 0.848846px 11.9699px 0px, rgb(2, 27, 10) -0.15044px 11.9991px 0px, rgb(2, 27, 10) -1.14868px 11.9449px 0px, rgb(2, 27, 10) -2.13895px 11.8078px 0px, rgb(2, 27, 10) -3.11438px 11.5888px 0px, rgb(2, 27, 10) -4.06819px 11.2894px 0px, rgb(2, 27, 10) -4.99376px 10.9116px 0px, rgb(2, 27, 10) -5.88468px 10.458px 0px, rgb(2, 27, 10) -6.73475px 9.93192px 0px, rgb(2, 27, 10) -7.53808px 9.33688px 0px, rgb(2, 27, 10) -8.2891px 8.67703px 0px, rgb(2, 27, 10) -8.98258px 7.95696px 0px, rgb(2, 27, 10) -9.61372px 7.18167px 0px, rgb(2, 27, 10) -10.1781px 6.35653px 0px, rgb(2, 27, 10) -10.6719px 5.48727px 0px, rgb(2, 27, 10) -11.0916px 4.57993px 0px, rgb(2, 27, 10) -11.4344px 3.64081px 0px, rgb(2, 27, 10) -11.6977px 2.67641px 0px, rgb(2, 27, 10) -11.8799px 1.69344px 0px, rgb(2, 27, 10) -11.9796px 0.698716px 0px, rgb(2, 27, 10) -11.9962px -0.300857px 0px, rgb(2, 27, 10) -11.9296px -1.29834px 0px, rgb(2, 27, 10) -11.7801px -2.28682px 0px, rgb(2, 27, 10) -11.5489px -3.25942px 0px, rgb(2, 27, 10) -11.2375px -4.2094px 0px, rgb(2, 27, 10) -10.8481px -5.13016px 0px, rgb(2, 27, 10) -10.3834px -6.01532px 0px, rgb(2, 27, 10) -9.84671px -6.85874px 0px, rgb(2, 27, 10) -9.24164px -7.65454px 0px, rgb(2, 27, 10) -8.57243px -8.39723px 0px, rgb(2, 27, 10) -7.84372px -9.08163px 0px, rgb(2, 27, 10) -7.06058px -9.703px 0px, rgb(2, 27, 10) -6.22843px -10.257px 0px, rgb(2, 27, 10) -5.35305px -10.7399px 0px, rgb(2, 27, 10) -4.44052px -11.1482px 0px, rgb(2, 27, 10) -3.49717px -11.4791px 0px, rgb(2, 27, 10) -2.52955px -11.7304px 0px, rgb(2, 27, 10) -1.54437px -11.9002px 0px, rgb(2, 27, 10) -0.548477px -11.9875px 0px, rgb(2, 27, 10) 0.451226px -11.9915px 0px, rgb(2, 27, 10) 1.4478px -11.9123px 0px, rgb(2, 27, 10) 2.43432px -11.7505px 0px, rgb(2, 27, 10) 3.40395px -11.5071px 0px, rgb(2, 27, 10) 4.34995px -11.1838px 0px, rgb(2, 27, 10) 5.26576px -10.7829px 0px, rgb(2, 27, 10) 6.14503px -10.3072px 0px, rgb(2, 27, 10) 6.98164px -9.75995px 0px, rgb(2, 27, 10) 7.7698px -9.14495px 0px, rgb(2, 27, 10) 8.50404px -8.46648px 0px, rgb(2, 27, 10) 9.17925px -7.72925px 0px, rgb(2, 27, 10) 9.79076px -6.93838px 0px, rgb(2, 27, 10) 10.3343px -6.09935px 0px, rgb(2, 27, 10) 10.8061px -5.21799px 0px, rgb(2, 27, 10) 11.203px -4.30041px 0px, rgb(2, 27, 10) 11.522px -3.35299px 0px, rgb(2, 27, 10) 11.7612px -2.38229px 0px, rgb(2, 27, 10) 11.9186px -1.39506px 0px, rgb(2, 27, 10) 11.9934px -0.398151px 0px;
}

.text-shadow-sm-white {
  text-shadow: rgb(255, 255, 255) 3px 0px 0px, rgb(255, 255, 255) 2.83487px 0.981584px 0px, rgb(255, 255, 255) 2.35766px 1.85511px 0px, rgb(255, 255, 255) 1.62091px 2.52441px 0px, rgb(255, 255, 255) 0.705713px 2.91581px 0px, rgb(255, 255, 255) -0.287171px 2.98622px 0px, rgb(255, 255, 255) -1.24844px 2.72789px 0px, rgb(255, 255, 255) -2.07227px 2.16926px 0px, rgb(255, 255, 255) -2.66798px 1.37182px 0px, rgb(255, 255, 255) -2.96998px 0.42336px 0px, rgb(255, 255, 255) -2.94502px -0.571704px 0px, rgb(255, 255, 255) -2.59586px -1.50383px 0px, rgb(255, 255, 255) -1.96093px -2.27041px 0px, rgb(255, 255, 255) -1.11013px -2.78704px 0px, rgb(255, 255, 255) -0.137119px -2.99686px 0px, rgb(255, 255, 255) 0.850987px -2.87677px 0px, rgb(255, 255, 255) 1.74541px -2.43999px 0px, rgb(255, 255, 255) 2.44769px -1.73459px 0px, rgb(255, 255, 255) 2.88051px -0.838247px 0px;
}

.text-shadow-sm {
  text-shadow: rgb(2, 27, 10) 4px 0px 0px, rgb(2, 27, 10) 3.87565px 0.989616px 0px, rgb(2, 27, 10) 3.51033px 1.9177px 0px, rgb(2, 27, 10) 2.92676px 2.72656px 0px, rgb(2, 27, 10) 2.16121px 3.36588px 0px, rgb(2, 27, 10) 1.26129px 3.79594px 0px, rgb(2, 27, 10) 0.282949px 3.98998px 0px, rgb(2, 27, 10) -0.712984px 3.93594px 0px, rgb(2, 27, 10) -1.66459px 3.63719px 0px, rgb(2, 27, 10) -2.51269px 3.11229px 0px, rgb(2, 27, 10) -3.20457px 2.39389px 0px, rgb(2, 27, 10) -3.69721px 1.52664px 0px, rgb(2, 27, 10) -3.95997px 0.56448px 0px, rgb(2, 27, 10) -3.97652px -0.432781px 0px, rgb(2, 27, 10) -3.74583px -1.40313px 0px, rgb(2, 27, 10) -3.28224px -2.28625px 0px, rgb(2, 27, 10) -2.61457px -3.02721px 0px, rgb(2, 27, 10) -1.78435px -3.57996px 0px, rgb(2, 27, 10) -0.843183px -3.91012px 0px, rgb(2, 27, 10) 0.150409px -3.99717px 0px, rgb(2, 27, 10) 1.13465px -3.8357px 0px, rgb(2, 27, 10) 2.04834px -3.43574px 0px, rgb(2, 27, 10) 2.83468px -2.82216px 0px, rgb(2, 27, 10) 3.44477px -2.03312px 0px, rgb(2, 27, 10) 3.84068px -1.11766px 0px, rgb(2, 27, 10) 3.9978px -0.132717px 0px;
}

@media (max-width: 640px) {
  .text-shadow {
    text-shadow: rgb(2, 27, 10) 4px 0px 0px, rgb(2, 27, 10) 3.87565px 0.989616px 0px, rgb(2, 27, 10) 3.51033px 1.9177px 0px, rgb(2, 27, 10) 2.92676px 2.72656px 0px, rgb(2, 27, 10) 2.16121px 3.36588px 0px, rgb(2, 27, 10) 1.26129px 3.79594px 0px, rgb(2, 27, 10) 0.282949px 3.98998px 0px, rgb(2, 27, 10) -0.712984px 3.93594px 0px, rgb(2, 27, 10) -1.66459px 3.63719px 0px, rgb(2, 27, 10) -2.51269px 3.11229px 0px, rgb(2, 27, 10) -3.20457px 2.39389px 0px, rgb(2, 27, 10) -3.69721px 1.52664px 0px, rgb(2, 27, 10) -3.95997px 0.56448px 0px, rgb(2, 27, 10) -3.97652px -0.432781px 0px, rgb(2, 27, 10) -3.74583px -1.40313px 0px, rgb(2, 27, 10) -3.28224px -2.28625px 0px, rgb(2, 27, 10) -2.61457px -3.02721px 0px, rgb(2, 27, 10) -1.78435px -3.57996px 0px, rgb(2, 27, 10) -0.843183px -3.91012px 0px, rgb(2, 27, 10) 0.150409px -3.99717px 0px, rgb(2, 27, 10) 1.13465px -3.8357px 0px, rgb(2, 27, 10) 2.04834px -3.43574px 0px, rgb(2, 27, 10) 2.83468px -2.82216px 0px, rgb(2, 27, 10) 3.44477px -2.03312px 0px, rgb(2, 27, 10) 3.84068px -1.11766px 0px, rgb(2, 27, 10) 3.9978px -0.132717px 0px;
  }
}

.notion-page li em {
  word-break: break-all;
}